<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingmen.mayi.mayibanjia">

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <!-- 获取精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 读取电话簿 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/title_logo_red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/title_logo_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9048b4f8d6d23eb426dddbd54e7ffde5" />
        <!-- <meta-data -->
        <!-- android:name="design_width_in_dp" -->
        <!-- android:value="375"/> -->
        <!-- <meta-data -->
        <!-- android:name="design_height_in_dp" -->
        <!-- android:value="667"/> -->


        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".MainActivity"
            android:label="首页"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.ZhuCeActivity"
            android:label="注册页"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.XuanZeJueSeActivity"
            android:label="选择角色"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.CTDWanShanXinXiActivity"
            android:label="餐厅端完善信息"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.GHDWanShanXinXiActivity"
            android:label="供货端完善信息"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.SouSuoActivity"
            android:label="首页跳转搜索"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.activity.ShouHuoDiZhiActivity"
            android:label="收货地址"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.AddAddressActivity"
            android:label="添加收货地址"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.FCGDiQuXuanZeActivity"
            android:label="发采购选择地区"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.FCGCaiGouXuQiuActivity"
            android:label="发采购采购需求"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.XinXiLuRuActivity"
            android:label="信息录入"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.SPXiangQingActivity"
            android:label="商品详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.dingdan.DingDanActivity"
            android:label="订单"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.YeWuYuanMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 业务员首页 -->
        <activity
            android:name=".ui.activity.ShenPiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 审批 -->
        <activity
            android:name=".ui.activity.CaiGouDanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 采购单 -->
        <!-- 历史购买以及历史收藏 -->
        <activity
            android:name=".ui.activity.DianPuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 店铺 -->
        <activity
            android:name=".ui.activity.FaBuShangPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 发布商品 -->
        <!-- 发布商品起订量 -->
        <activity
            android:name=".ui.activity.FaBuShangPinXiangQingTuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 发布商品详情 -->
        <activity
            android:name=".ui.activity.QueRenDingDanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 确认订单 -->
        <activity
            android:name=".ui.activity.XuanZeZhiFuFangShiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 选择支付方式 -->
        <activity
            android:name=".ui.activity.GongYingDuanShouYeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供应端首页 -->
        <activity
            android:name=".ui.activity.QiangDanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供应端抢单 -->
        <activity
            android:name=".ui.activity.ZhangHuXinXiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 餐厅端账户信息 -->
        <activity
            android:name=".ui.activity.GongYingDuanSheZhiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供应端设置 -->
        <activity
            android:name=".ui.activity.ShiChangSouSuoShangPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 市场搜索商品 -->
        <activity
            android:name=".ui.activity.ShouCangListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 收藏列表 -->
        <activity
            android:name=".ui.activity.QuanBuPingjiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 商品详情全部评价 -->
        <activity
            android:name=".ui.activity.TubiaoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" /> <!-- 走势图 -->
        <activity
            android:name=".ui.activity.ShangPinGuanLiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供货端商品管理 -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- //轮询服务 -->
        <service android:name=".utils.PollingService">
            <intent-filter>
                <action android:name="com.ssl.Services" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.WuLiuActivity"
            android:label="@string/title_activity_wu_liu"
            android:theme="@style/NoTitle" /> <!-- 物流 -->
        <activity
            android:name=".ui.activity.ghdingdan.GHDOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供货订单 -->
        <activity
            android:name=".ui.activity.DaYinQrCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 打印二维码 -->
        <activity
            android:name=".ui.activity.SiJiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 司机配送 -->
        <activity
            android:name=".ui.activity.PeiSongXiangQingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 司机配送详情 -->
        <activity
            android:name=".utils.qrCode.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 扫码页面 -->
        <activity
            android:name=".ui.activity.YiJianFanKuiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 意见反馈 -->
        <activity
            android:name=".ui.activity.DianPuGuanZhuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 店铺关注 -->
        <activity
            android:name=".ui.activity.LiuLanJiLuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 浏览记录 -->
        <activity
            android:name=".ui.activity.WeiYiQrCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 唯一取货码 -->
        <activity
            android:name=".ui.activity.YinHangKaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 银行卡 -->
        <activity
            android:name=".ui.activity.YinHangKaTianJiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 添加银行卡 -->
        <activity
            android:name=".ui.activity.XuanZeYinHangActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 选择银行 -->
        <activity
            android:name=".ui.activity.DingDanXiangQingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 订单详情 -->
        <activity
            android:name=".ui.activity.ZiZhiRenZhengActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 资质认证 -->
        <activity
            android:name=".ui.activity.TiXianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 提现 -->
        <activity
            android:name=".ui.activity.YueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 余额 -->
        <activity
            android:name=".ui.activity.jiaoyiliushui.JiaoYiMingXiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 交易明细 -->
        <activity
            android:name=".ui.activity.JiaoYiXiangQingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 交易详情 -->
        <activity
            android:name=".ui.activity.FaBiaoPingJiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 发表评价 -->
        <activity
            android:name=".ui.activity.YunFeiJieSuanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 运费结算 -->
        <activity
            android:name=".ui.activity.JieSuanJieGuoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 结算结果 -->
        <activity
            android:name=".ui.activity.WoDePingJiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 我的评价 -->
        <activity
            android:name=".ui.activity.JieSuanXiangQingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 结算结果详情 -->
        <activity
            android:name=".ui.activity.ZiZhangHuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 子账户 -->
        <activity
            android:name=".ui.activity.AddZiZhuangHuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 添加子账户 -->
        <activity
            android:name=".ui.activity.JueSeGuanLiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 角色管理 -->
        <activity
            android:name=".ui.activity.qiangdan.GongYingDuanQiangDanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供应端抢单 -->
        <activity
            android:name=".ui.activity.CaiGouListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 采购单列表 -->
        <activity
            android:name=".ui.activity.DetailsZiZhangHuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 子账户详情 -->
        <activity
            android:name=".ui.activity.ShenPiChengGongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 审批成功 -->
        <activity
            android:name=".ui.activity.ShenPiShiBaiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 审批失败 -->
        <activity
            android:name=".ui.activity.WoDeZhangHuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 我的账户 -->
        <activity
            android:name=".ui.activity.ChangePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 修改密码 -->
        <activity
            android:name=".ui.activity.ChangePhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 选择修改手机绑定 -->
        <activity
            android:name=".ui.activity.YanZhengPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 验证手机 -->
        <activity
            android:name=".ui.activity.ChangePhoneBindActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 修改手机绑定 -->
        <activity
            android:name=".ui.activity.MenDianXinXiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 门店信息 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx77762a8eab365cf1" />
            </intent-filter>
        </activity> <!-- 微信回调 -->
        <activity
            android:name=".ui.activity.ShangJiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 注册商家 -->
        <activity
            android:name=".ui.activity.QuanBuShiChangActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 注册市场 -->
        <activity
            android:name=".ui.activity.ZhuCeCanTingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 注册餐厅 -->
        <activity
            android:name=".ui.activity.XinXiLuRuGHDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 信息录入供货端 -->
        <activity
            android:name=".ui.activity.AddQrCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 添加二维码 -->
        <activity
            android:name=".ui.activity.ShangPinChangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 商品修改 -->
        <activity
            android:name=".ui.activity.ShangPinGuanLiTeJiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 特价商品管理 -->
        <activity
            android:name=".ui.activity.CaiGouXuQiuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 采购需求 -->
        <activity
            android:name=".ui.activity.ChangGouActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 常购 -->
        <activity
            android:name=".ui.activity.AddShangPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 添加商品 -->
        <activity
            android:name=".ui.activity.HuoDongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 活动 -->
        <activity
            android:name=".ui.activity.JiaoYiLiuShuiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 交易流水 -->
        <activity
            android:name=".ui.activity.XJSPFeiLeiXuanZeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 添加商品分类选择 -->
        <!-- 蓝牙设备列表 -->
        <activity
            android:name=".ui.activity.XuanZeGuiGeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 选择规格 -->
        <activity
            android:name=".ui.activity.YongHuPingJiaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供应端用户评价 -->
        <activity
            android:name=".ui.activity.GHDXiangQingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 供应端订单详情 -->
        <activity
            android:name=".ui.activity.YeWuYuanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 业务员饼状图首页 -->
        <activity
            android:name=".ui.activity.ShichangJiageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 各市场价格 -->
        <activity
            android:name=".ui.activity.ShichangXuanzeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 选择市场 -->
        <activity
            android:name=".ui.activity.SqscWodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 社区市场 -->
        <activity
            android:name=".ui.activity.QuanBuCaiPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 全部菜品 -->
        <activity
            android:name=".ui.activity.GouWuCheActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 购物车 -->
        <activity
            android:name=".ui.activity.SqscShezhiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 社区市场设置 -->
        <activity
            android:name=".ui.activity.ShichangFuzerenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 市场负责人 -->
        <activity
            android:name=".ui.activity.ShichangWuliuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 市场负责人物流信息 -->
        <activity
            android:name=".ui.activity.ChangePayPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 修改支付密码 -->
        <activity
            android:name=".ui.activity.SetPayPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 设置支付密码 -->
        <activity
            android:name=".ui.activity.SpsbChangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".utils.dayinji.BluetoothDeviceList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 获取蓝牙列表 -->
        <activity
            android:name=".ui.activity.YoukeLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 游客登陆 -->
        <activity
            android:name=".ui.activity.SpXinxiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 商品信息 -->
        <activity
            android:name=".ui.activity.AddCbkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 添加成本卡 -->
        <activity
            android:name=".ui.activity.ChengBenKaListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 成本卡列表 -->
        <activity
            android:name=".ui.activity.SearchCaipinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 搜索菜品 -->
        <activity
            android:name=".ui.CbkXiangqingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 成本卡详情 -->
        <activity android:name=".ui.activity.YunfeiShezhiActivity" />
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>